services:
  front:
    image: oven/bun:1
    working_dir: /usr/src/app
    ports:
      - "3000:3000"
    volumes:
      - ./front:/usr/src/app
      - guest_node_modules:/usr/src/app/node_modules
    environment:
      NODE_ENV: development
    command: >
      sh -c "bun install && bun run dev -- --host 0.0.0.0 --port 3000"

  api:
    image: thecodingmachine/php:8.4-v5-apache
    ports:
      - ${DOCKER_API_PORT:-80}:80
    volumes:
      - ./api:/var/www/html/:Z
    environment:
      PHP_INI_MEMORY_LIMIT: 1g
      APACHE_DOCUMENT_ROOT: public/
      PHP_EXTENSION_INTL: 1
      PHP_EXTENSION_PDO_SQLITE: 1
      PHP_EXTENSION_GD: 1
      PHP_EXTENSION_IMAGICK: 1

volumes:
  guest_node_modules:
