html {
  font-family: 'Urbanist', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  color-scheme: light !important;
}

body {
  margin: 0;
}
